# Needed for access-point forwarding/NAT where not enabled by the base kernel.
CONFIG_IP_ADVANCED_ROUTER=y
CONFIG_IP_NF_IPTABLES=y
CONFIG_NF_TABLES=y
CONFIG_NF_TABLES_INET=y
CONFIG_NF_NAT=y
CONFIG_NF_NAT_MASQUERADE=y
CONFIG_CFG80211=y
CONFIG_MAC80211=y
